
.navbar.navbar-transparent .navbar-nav>a.btn {
  color: #000000;
}

.navbar.navbar-transparent a:not(.btn):not(.dropdown-item) {
  color: #000000;
}

.bg-white {
  background-color: #ffffff !important;
}

.navbar.navbar-transparent a:not(.btn):not(.dropdown-item) {
  color: #000000;
}

.navbar.navbar-transparent {
  color: #000000;
}

.page-header .content-center {
  color: #000000;
}

.clear-filter[filter-color="white"] {
  background: rgba(255, 255, 255, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  /* Standard syntax */
}

.navbar-collapse {
  flex-basis:100%;
  flex-grow:1;
  align-items:center
}

.navbar-expand .navbar-collapse {
  display:flex!important;
  flex-basis:auto
}


@media screen and (max-width: 991px) {
  .navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #000000;
  }
  .navbar .navbar-toggler-bar + .navbar-toggler-bar {
    margin-top: 7px;
  }
}

.navbar-collapse-header {
  display:none
 }

 /* .navbar-collapse {
  width:calc(100% - 30px);
  position:absolute;
  top:15px;
  left:15px;
  right:0;
  z-index:1050;
  overflow-y:auto;
  height:calc(100vh - 30px)!important;
  opacity:0
 } */
 .navbar-collapse .navbar-toggler {
  position:relative;
  display:inline-block;
  width:20px;
  height:20px;
  padding:0
 }
 .navbar-collapse .navbar-toggler span {
  display:block;
  position:absolute;
  width:100%;
  height:2px;
  border-radius:2px;
  opacity:1;
  background:#283448
 }

 .navbar-collapse .navbar-collapse-header {
  /* display:block; */ /* block only if navbar-collapse has show */
  padding-bottom:1rem;
  margin-bottom:1rem
 }
 .navbar-collapse .collapse-brand img {
  height:36px
 }
 .navbar-collapse .collapse-close {
  text-align:right;
  color: #000000;
 }
 .navbar-collapse.collapsing,
 .navbar-collapse.show {
  padding:1.5rem;
  border-radius:.2rem;
  background:#fff;
  animation:show-navbar-collapse .2s ease forwards;
  box-shadow:0 0 20px rgba(0,0,0,.1)
 }
 .navbar-collapse.collapsing-out {
  animation:hide-navbar-collapse .2s ease forwards
 }

@keyframes show-navbar-collapse {
  0% {
   opacity:0;
   transform:scale(.95);
   transform-origin:100% 0
  }
  100% {
   opacity:1;
   transform:scale(1)
  }
 }
 @keyframes hide-navbar-collapse {
  from {
   opacity:1;
   transform:scale(1);
   transform-origin:100% 0
  }
  to {
   opacity:0;
   transform:scale(.95)
  }
 }